@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}

/* Orenge Text Color */
.text-primary {
  color: #FF900E;
}

/* Dark - 2 */
.text-gray {
  color: #424242;
}

/* Dark - 3 */
.text-light-gray {
  color: #727272;
}

/* Light Background */
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background: rgba(255, 144, 14, 1);
  color: #FFFFFF;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn-primary:hover {
  background: rgb(214, 115, 2);
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.main>section {
  margin-top: 130px;
}

.section-title {
  font-weight: 700;
  font-size: 2.8rem;
}

/* Header Styles */

/* Nav Bar Styles */
.navbar {
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Related Style */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-description {
  font-size: 1rem;
  margin-bottom: 30px;
}

.banner-img {
  width: 100%;
}

/* Team and Featured Related Styles */
.teams {
  align-items: center;
  /* justify-content: space-around; */
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.our-features {
  max-width: 537px;
  margin-left: 73px;
}

#quick-list {
  font-weight: 500;
}

/* Featured Section */
.features {
  gap: 100px;
  align-items: center;
}

#feature-section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.featured-card {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}

.featured-card .featured-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

#experience-badge {
  padding: 45px 42px;
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: -70px;
  margin-top: -100px;
}

#experience-year {
  font-weight: 700;
  font-size: 4rem;
}

.featured-photo img {
  width: 100%;
}

/* Fact Area */
.fact-card {
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}

.fact-number {
  font-weight: 600;
  font-size: 2.8rem;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 10px;
}

.fact-description {
  max-width: 540px;
}

/* Sponspor Area */
.sponspors-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponspor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponspor-companies img {
  filter: grayscale(100%);
}

/* Banner Responsiveness */
@media screen and (max-width: 576px) {
  .brand {
    font-size: 2.8rem;
  }

  .navbar,
  .nav-links,
  .features,
  .teams {
    flex-direction: column;
  }

  .nav-links {
    text-align: center;
  }

  .banner-title {
    font-size: 2rem;
  }

  .team-img-container,
  .facts-container,
  .sponspor-companies {
    grid-template-columns: 1fr;
  }

  .facts-container {
    justify-items: center;
    gap: 24px;
    margin-top: 50px;
  }

  .sponspor-companies {
    justify-items: center;
    gap: 50px;
  }

  .our-features {
    margin-left: 20px;
  }

  .features {
    gap: 50px;
  }

  #experience-badge {
    margin-top: 20px;
    margin-left: 10px;
  }
}

/* For Medium Device */
@media screen and (min-width: 577px) and (max-width: 992px) {

  .teams,
  .features {
    flex-direction: column;
  }

  .features {
    gap: 50px;
  }

  .our-features {
    margin: 50px auto;
  }

  .facts-container {
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
  }

  .sponspor-companies {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
  }

  #experience-badge {
    margin-top: 20px;
    margin-left: 10px;
  }
}